button {
  background: rgb(6, 150, 215);
  border: solid 1px rgb(6, 150, 215);
  border-radius: 2px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin: 4px;
  outline: none;
  padding: 4px 10px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 100%;
}

.main {
  display: flex;
  height: calc(100% - 80px);
  width: 100%;
}

.left-panel {
  height: 100%;
  width: 200px;
}

.right-panel {
  height: 100%;
  width: calc(100% - 200px);
}
